FuseML is about making your life easier not more complex.<br>
Check out our <b><span style="color: #0C322C">CODE INSIDERS</span></b> version. 
<pre style="
background: #0C322C; 
page-break-inside: avoid;
font-size: 15px;
line-height: 1.6;
margin-bottom: 1.6em;
max-width: 100%;
overflow: auto;
padding: 1em 1.5em;
display: block;
word-wrap: break-word;
border-radius: 3px;
white-space: pre-wrap;">
    <code>
    # On Linux
    <span style="color: #30BA78">curl -sfL https://fuseml.github.io/in/installer.ps1 | sh -</span>
    # Install fuseml in your K8s cluster
    <span style="color: #30BA78">fuseml install</span>
    # Clone our examples folders
    <span style="color: #30BA78">git clone https://github.com/fuseml/fuseml.git</span>
    # Let's deploy a full end-to-end example
    <span style="color: #30BA78">fuseml push  mlflow-model examples/mlflow-model</span>
    # Done!
    </code>
</pre>
We are super-busy building an awesome project, please come back to check next release.<br>
<b>Our community is growing fast, come help us!<b>
